body:before {
	font-size: 5em;

	position: fixed;
	z-index: -1;
	top: 50%;
	left: 50%;

	content: "D R A F T";
	transform: translate(-50%, -50%) rotate(-25deg);
	white-space: nowrap;

	opacity: 0.1;
}
