.index {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: center;
	align-items: center;
}

.name {
	font-size: var(--size-large);
}

.profession {
	font-style: italic;
	color: var(--color-light);
	margin: 0;
}
