{{define "main"}}
<article>
	<header>
		{{- if and .Site.Params.github_repository .File -}}<a
			href="{{.Site.Params.github_repository}}/edit/source/content/{{.File.Path}}"
			title="Edit on GitHub"
			>{{.File.Path}}</a
		>{{- end -}}
		<div class="timestamps">
			{{if not .Date.IsZero}}<time datetime="{{.Date.Format "2006-02-01"}}" title="Published: {{.Date.Format "January 2, 2006"}}">{{.Date.Format "Jan 2, 2006"}}</time>{{end}}
		</div>
	</header>

	<section>
		{{.Content | replaceRE "(<h[1-6] id=\"([^\"]+)\".+)(</h[1-6]+>)" `${1}&nbsp;<a class="heading-anchor" href="#${2}">&#x0023;</a>${3}` | safeHTML}}
	</section>
</article>
{{partial "hypothesis" .}}
{{end}}
