.home {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
}

.home > * + * {
  margin-top: var(--spacing-default);
}

.home p {
  text-indent: 0;
}

.home .logo {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 2.5em;
  height: 2.5em;
  padding: 1em;

  user-select: none;

  color: var(--color-background);
  border: 2px solid var(--color-background);
  border-radius: 10em;
  background-color: var(--color-foreground);
  box-shadow: 0 0 0 2px var(--color-foreground);

  font-size: 2rem;
}

.home .author {
  text-align: center;

  font-size: 1.25rem;
  font-variant: small-caps;
}

.home .profession {
  text-align: center;
}

.home .sub-navigation ul {
  display: flex;
  flex-direction: row;

  padding: var(--spacing-default) var(--spacing-large);

  list-style: none;

  border-top: 1px solid currentColor;
}

.home .sub-navigation ul > * + * {
  margin-left: var(--spacing-default);
}
