:root {
	--color-light: #5f5f5f;
	--font-family-monospace: "Courier New", Courier, monospace;
	--size-large: 1.75rem;
	--size-normal: 1rem;
	--size-small: 0.75rem;
	background-color: #f9f7f1;
	color: #2f2f2f;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 18px;
	hyphens: auto;
	line-height: 1.5;
}

@media screen and (max-width: 768px) {
	:root {
		font-size: 16px;
	}
}

@media screen and (max-width: 600px) {
	:root {
		font-size: 14px;
	}
}

* {
	box-sizing: border-box;
}

a {
	color: #1a0dab;
}

a:visited {
	color: #609;
}

blockquote {
	color: var(--color-light);
	font-style: italic;
	margin: var(--size-normal) 0;
	padding: var(--size-normal);
}

body {
	display: flex;
	flex-direction: column;
	margin: 0;
	max-width: calc(75 * 1rem / 2.27);
	min-height: 100vh;
	width: 100%;
}

body > * + *,
main > * + *,
main > article > * + * {
	margin-top: var(--size-normal);
}

body > footer {
	border-top: 1px dashed var(--color-light);
	font-size: var(--size-small);
	text-align: center;
	padding: var(--size-normal);
}

body > header {
	border-bottom: 1px dashed var(--color-light);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: var(--size-normal);
}

body > header > * + * {
	margin-left: var(--size-small);
}

main {
	display: flex;
	flex: 1 0 auto;
	flex-direction: column;
	padding: 0 var(--size-normal);
}

main > article > header {
	color: var(--color-light);
	display: flex;
	flex-direction: row;
	font-size: var(--size-small);
	justify-content: space-between;
}

h1 {
	font-size: 3.052rem;
	margin: var(--size-large) 0;
}

h2 {
	font-size: 2.441rem;
	margin: var(--size-large) 0;
}

h3 {
	font-size: 1.953rem;
	margin: var(--size-large) 0;
}

h4 {
	font-size: 1.563rem;
	margin: var(--size-large) 0;
}

h5 {
	font-size: 1.25rem;
	margin: var(--size-large) 0;
}

h6 {
	font-size: 1rem;
	margin: var(--size-large) 0;
}

html {
	align-items: center;
	display: flex;
	flex-direction: column;
}

ol,
ul {
	padding-left: var(--size-large);
}

p {
	margin: var(--size-normal) 0;
	text-align: justify;
}

table {
	border-spacing: 0;
	width: 100%;
}

th,
td {
	border-bottom: 1px dotted var(--color-light);
	padding: var(--size-small);
}

.list-item {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.list-item time {
	color: var(--color-light);
	font-size: var(--size-small);
}

.list-items {
	display: flex;
	flex-direction: column;
	list-style: none;
	margin: 0;
}

.timestamps {
	font-family: var(--font-family-monospace);
}

.heading-anchor {
	color: var(--color-light);
	font-size: var(--size-normal);
	text-decoration: none;
	vertical-align: middle;
}

[id] > .heading-anchor {
	display: none;
}

[id]:hover > .heading-anchor {
	display: initial;
}

@media screen and (max-width: 768px) {
	[id] > .heading-anchor {
		display: initial;
	}
}

.home {
	flex-grow: 1;
}

[rel="home"] {
	color: var(--color-foreground);
	text-decoration: none;
}

[rel="home"]:visited {
	color: var(--color-foreground);
}
