<footer id="nav-footer">
  <a href="https://github.com/gtramontina" class="social-media" ref="social-media github">
    <img src="//cdn.rawgit.com/edent/SuperTinyIcons/344ae7da/images/svg/github.svg" alt="GitHub: @gtramontina" title="GitHub: @gtramontina">
  </a>

  <a href="https://twitter.com/gtramontina" class="social-media" ref="social-media twitter">
    <img src="//cdn.rawgit.com/edent/SuperTinyIcons/344ae7da/images/svg/twitter.svg" alt="Twitter: @gtramontina" title="Twitter: @gtramontina">
  </a>

  <a href="https://mastodon.social/@gtramontina" class="social-media" ref="social-media mastodon">
    <img src="//cdn.rawgit.com/edent/SuperTinyIcons/344ae7da/images/svg/mastodon.svg" alt="Mastodon: @gtramontina@mastodon.social" title="Mastodon: @gtramontina@mastodon.social">
  </a>

  <a href="https://linkedin.com/in/gtramontina" class="social-media" ref="social-media linkedin">
    <img src="//cdn.rawgit.com/edent/SuperTinyIcons/344ae7da/images/svg/linkedin.svg" alt="LinkedIn: @gtramontina" title="LinkedIn: @gtramontina">
  </a>

  <a href="https://stackoverflow.com/users/3130625/gtramontina" class="social-media" ref="social-media stackoverflow">
    <img src="//cdn.rawgit.com/edent/SuperTinyIcons/344ae7da/images/svg/stackoverflow.svg" alt="StackOverflow: @gtramontina" title="StackOverflow: @gtramontina">
  </a>
</footer>
