<!DOCTYPE html>
<html lang="en-us"{% if draft %} class="draft"{% endif %}>
<head prefix="og: http://ogp.me/ns# article: http://ogp.me/ns/article# website: http://ogp.me/ns/website#">
	<title>{{ site.title }}{% if title %} &bull; {{ title }}{% endif %}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
	{% if tags | includes("post") %}
	{% include "post-seo.html" %}
	{% else %}
	{% include "base-seo.html" %}
	{% endif %}
	<link rel="alternate" href="/feed.atom" title="{{ site.title }}" type="application/atom+xml">
	<link rel="icon" type="image/svg+xml" href="/icons/vector.svg">
	<link rel="icon" type="image/png" sizes="16x16" href="/icons/16x16.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/icons/32x32.png">
	<link rel="alternate icon" href="/favicon.ico">
	<link rel="apple-touch-icon" sizes="180x180" href="/icons/180x180.png">
	<link rel="manifest" href="/manifest.json">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display&display=swap" />
	<link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display&display=swap" rel="stylesheet" media="print" onload="this.media='all'">
	<noscript><link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display&display=swap" rel="stylesheet"></noscript>
	<link rel="stylesheet" href="/stylesheet.css">
	<link rel="stylesheet" media="print" href="/print.css" />
</head>

<body id="site"{% if siteClass %} class="{{siteClass}}"{% endif %}>
	<a id="skip-to-content" href="#site-content">
		Skip to content
	</a>

	<header id="site-header">
		<div id="site-header-content">
			<a href="/" rel="home" title="Home">/gtramontina</a>
			<nav id="site-nav">
				<a href="/posts" rel="posts" title="Posts">Posts</a>
				<a href="/about" rel="about" title="About">About</a>
				<a href="/feed.atom" rel="alternate" title="RSS" type="application/atom+xml">RSS</a>
			</nav>
		</div>
	</header>

	<main id="site-content">
		<article>
{{ content | safe }}
		</article>
{% if not commentsDisabled %}{% include "hypothesis.html" %}{% endif %}
	</main>

	<footer id="site-footer">
		<div id="site-footer-content">Original articles on this site are CC <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/legalcode">BY-NC-SA</a> licensed unless otherwise stated.</div>
	</footer>
{% include "goatcounter.html" %}
</body>
</html>
